[pull]
	rebase = true
[push]
	autoSetupRemove = true
	default = current
[alias]
	undo = reset --soft HEAD^
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
  clean = git-lfs clean -- %f
[url "git@github.com:"]
	insteadOf = https://github.com/
